
# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
**.terraform.lock.hcl*
# Exclude generated keys
terraform/n8n_key
terraform/n8n_key.pub

# Ansible
*.retry
ansible/vars/secrets.yml
